.backdrop-filter {
  backdrop-filter: blur(1px);
  box-shadow: 1.5px 1.5px lightblue;
  background-color: #ffffff;
  border: 2px solid #f5f1ff;
  border-radius: 20px;
  margin: 10px;
}

#label-file-upload2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  flex-direction: column;
  gap: 20px;
  padding: 16px 16px;
  border-radius: 2px;
  border: none;
  background: #ffffff;
  cursor: pointer;
}
.color-icon-white {
  color: #3ab19d;
}
.color-h6-white {
  color: #3ab19d;
  font-size: 2.2vh;
  font-weight: 500;
}
.color-white {
  color: #3ab19d;
  font-size: 2vh;
}

.input-field-setting2 {
  border: 1px solid #848484;
  box-shadow: 1.5px 1.5px lightblue;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.5s;
  background-color: #ffffff;
}
.input-field-setting2::placeholder {
  color: black !important;
}
.input-field-setting2:focus {
  border: 1px solid #848484;
  outline: none;
}
.scroll-setting2 {
  overflow-y: auto;
  max-height: 80vh;
  overflow-x: hidden;
}
.scroll-setting2::-webkit-scrollbar {
  height: 1px; /* Set the width of the scrollbar */
}

.scroll-setting2::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb */
}
.set_color_icon_white {
  color: #3ab19d;
}
.label_white {
  color: black;
}
.frst-div {
  margin-right: 12px;
}
@media screen and (min-width: 700px) and (max-width: 2200px) {
  .scroll-setting2 {
    margin-right: -1.5rem !important;
    margin-left: -1.5888rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .scroll-setting2 {
    overflow-y: auto;
    max-height: full;
  }
}

@media screen and (min-width: 1000px) and (max-width: 2200px) {
  .row {
    margin-right: calc(-0 * var(--bs-gutter-x)) !important;
    padding: 0 !important;
    margin-left: calc(-0 * var(--bs-gutter-x)) !important;
  }
}

/* MOBILE RESPONCIVE CSS */
.row {
  margin-right: calc(-0 * var(--bs-gutter-x)) !important;
  padding: 0 !important;
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

@media screen and (max-width: 500px) {
  .backdrop-filter {
    /* backdrop-filter: blur(1px); */
    width: 93.8%;
    background-color: #ffffff;
    border: 2px solid #f5f1ff;
    border-radius: 20px;
    margin-left: 2.8vh !important;
  }
  .sett-pad-20px {
    /* padding: 1vh 0px 0px 1.6vh !important;  */
    margin-top: 3.3vh;
    /* padding-left: 8px; */
    margin-bottom: -3vh;
  }
  .scroll-setting2 {
    overflow-y: auto;
    max-height: 73vh;
    width: 106%;
    padding: 1px;
    overflow-x: hidden;
    margin-left: -1rem;
  }
  .below-container {
    display: flex;
    padding-left: 0px !important;
    padding-right: 1vh;
  }
  .main-sett-style {
    padding: 2vh 2vh 1vh 0vh !important;
  }
  .color-h6-white {
    color: #3ab19d;
    font-size: 2.2vh;
    font-weight: 500;
  }
  .input-field-setting2 {
    font-size: 2vh !important;
  }
  .label_white {
    font-size: 2vh !important;
  }
  .frst-div {
    margin-right: 10px;
  }
}

@media screen and (max-width: 431px) {
  .scroll-setting2 {
    margin-right: -0.39rem !important;
  }
}

@media screen and (max-width: 405px) {
  .row {
    margin-right: calc(0.1 * var(--bs-gutter-x)) !important;
  }
  .scroll-setting2 {
    margin-right: -1.4rem !important;
  }
}

@media screen and (max-width: 376px) {
  .row {
    margin-right: calc(0.2 * var(--bs-gutter-x)) !important;
  }
  .backdrop-filter {
    backdrop-filter: blur(1px);
    width: 93.6%;
    background-color: #ffffff;
    border: 2px solid #f5f1ff;
    border-radius: 20px;
    margin-left: 3.7vh !important;
  }
  .scroll-setting2 {
    margin-left: -0.5rem !important;
  }
}
@media screen and (max-width: 360px) {
  .backdrop-filter {
    margin-left: 3.25vh;
  }
  .scroll-setting2 {
    margin-left: -0.66vh !important;
  }
}

@media screen and (max-width: 391px) {
  .backdrop-filter {
    margin-left: 2.6vh !important;
    width: 93.8%;
  }
}

@media screen and (max-width: 280px) {
  .backdrop-filter {
    margin-left: 4.4vh !important;
    width: 89.5%;
  }
  .scroll-setting2 {
    margin-left: -1.3vh !important;
  }
}
