.createbrdCast_textarea {
  width: 100%;
  border: 1px solid #eee;
  padding: 10px 14px;
  /* height: 20vh; */
  border-radius: 8px;
  transition: 0.5s;
  background-color: transparent;
}
.createbrdCast_textarea:focus {
  outline: none;
}
.createbrdCast_textarea::placeholder {
  color: #388c8c;
}
/* .broad-cast-contact-1{
    width: 101% !important;
    margin-left: -1.2% !important;
  } */
.card-stylecreatbdcast {
  padding-bottom: 10px;
  /* box-shadow: 2px 2px 1px 1px lightblue; */
  border: 1px solid #848484;
  background-color: #ffffff;
  border-radius: 5px;
  min-width: 31% !important;
  margin-right: auto;
}

.Backdrop-myContact2-broadcast {
  /* margin-left: -0.5rem !important; */
  width: 100%;
  margin-right: 0.5rem !important;
}
@media screen and (max-width: 500px) {
  .Braod-cast-page-main {
    height: 80vh !important;
    overflow-x: scroll !important;
  }
  .Backdrop-myContact2-broadcast {
    padding: 0px 0px 0px 0px !important;
    /* 413 */
    margin-left: 1rem !important;
    width: 99% !important;
  }

  .card-stylecreatbdcast {
    font-size: 10px !important;
    min-width: 35vh !important;
    width: 80vw;
  }
  .createbrdCast_textarea {
    width: 105%;
    border: 1px solid #eee;
    /* padding: 10px 14px; */
    border-radius: 8px;
    transition: 0.5s;
    background-color: transparent;
  }
  .text-area-main {
    height: 70px;
    width: auto !important;
    min-width: 40px;
    max-width: 34vh !important;
  }

  .Backdrop-myContact2-broadcast {
    margin-top: 0vh;
  }
}
@media screen and (max-width: 391px) {
  .Backdrop-myContact2-broadcast {
    margin-left: -0.71vh !important;
  }
}
@media screen and (max-width: 380px) {
  .Backdrop-myContact2-broadcast {
    /* margin-left: -0.1vh !important; */
    margin-left: -0.34rem !important;
  }

  .Broadcast-contact-list-excel-file {
    margin-left: 0px !important;
  }
  .text-area-main {
    max-width: 39vh !important;
  }
}

.Add-new-btn_createbd {
  background: #3ab19d;
  /* box-shadow:  2px 2px lightblue; */
  margin-left: 8px;
  margin-top: 0rem;
}
.Add-new-btn_createbd:hover {
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  /* border: 1px solid #3ab19d; */
}
.createbrdCast-input {
  /* margin-left: 0.45rem; */
  width: 100%;
  /* box-shadow: 1px 1px 1px 1px lightblue; */
  border: 1px solid #848484;
  padding: 10px 14px;
  height: 40px;
  border-radius: 8px;
  transition: 0.5s;
  background-color: #ffffff !important;
  color: #388c8c !important;
}
.createbrdCast-input::placeholder {
  color: #388c8c;
}
.createbrdCast-input:focus {
  outline: none;
}

.Drop-btnstyle_createbd {
  background-color: #ffffff;
  color: #388c8c !important;
  height: 50px;
  width: 100%;
  /* margin-top: -4.5px; */
  border: none;
  letter-spacing: 5px;
  /* padding: 5px 14px !important; */
  border: 1px solid #848484;
  /* box-shadow: 1px 1px 1px 1px lightblue; */

  /* Set the background color to transparent when in focus (dropdown open) */
  &:focus {
    background-color: transparent;
    border: 2px solid #f5f1ff;
  }
}
@media screen and (min-width: 2000px) and (max-width: 2300px) {
  .Drop-btnstyle_createbd {
    margin-top: 0.4rem;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1700px) {
  .Drop-btnstyle_createbd {
    margin-top: 0.15rem;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1500px) {
  .Drop-btnstyle_createbd {
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .Drop-btnstyle_createbd {
    margin-top: -0.26rem;
  }
  .Drop-btnstyle_createbd .btn.active .btn.show {
    background-color: transparent !important;
  }

  .color-white {
    /* margin-left: px !important; */
    color: black;
  }
  .broadCast-edit2 {
    color: black;
    position: absolute !important;
    justify-content: center;
    align-items: center;
    /* margin-left: -2rem;
    margin-top: 1rem; */
  }
  /* padding-top: 15px; */
  /* left: 29%; */
}
.broadCast-edit2 {
  color: black;
  position: absolute !important;
  margin-left: -2rem;
  margin-top: 0.7rem;
}
.contact-list-container {
  max-height: 30vh; /* Adjust the height as needed */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Add this style to hide the native scrollbar */
.contact-list-container::-webkit-scrollbar {
  width: 1px;
}

.contact-list-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Scrollbar thumb color */
  border-radius: 8px;
}

.contact-list-container::-webkit-scrollbar-track {
  background-color: transparent; /* Scrollbar track color */
}

.table {
  --bs-table-bg: transparent !important;
}
.main_Crte_BDCAST2 {
  max-height: 24.5vh;
  overflow: auto;
}
.main_Crte_BDCAST2::-webkit-scrollbar {
  width: 1px;
}

.main_Crte_BDCAST2::-webkit-scrollbar-thumb {
  background-color: transparent; /* Scrollbar thumb color */
  border-radius: 8px;
}

.main_Crte_BDCAST2::-webkit-scrollbar-track {
  background-color: transparent; /* Scrollbar track color */
}
/* .broadcast-Message Templates{
  margin-top: -3rem !important;
    margin-bottom: -5px !important;
} */
.S_No_th {
  min-width: 20% !important;
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .contact-list-container {
    max-height: 15vh;
  }
}
.color_white {
  color: black !important;
  font-weight: 300;
}
@media only screen and (max-width: 600px) {
  .createbrdCast-input {
    height: 10%;
  }

  /* .Drop-btnstyle_createbd{
  height: 10%;
  }  */
  .createbrdCast-input {
    height: 10%;
  }
  .text-area-main {
    height: 70px;
    width: 140px;
  }
  .msg-btns-style {
    display: flex;
    justify-content: end;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .Broad-cast-items-postion {
    padding-right: 3vh;
    margin-bottom: -20px;
  }
  .broadCast-edit2 {
    margin-left: 20vh;
  }
}

.fixed-height-Broadcast-Contact {
  max-height: 24.3vh !important;
}


