.Sidebar-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; or any desired height for your container */
  position: absolute;
  /* z-index: 10; */
  /* top: 0;
  bottom: 0; */
}
.main-sidebar-logo {
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between !important;
  
}

.Sidebar-Comp-card {
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 95vh;
  border-radius: 20px;
  background-color: white;
  padding: 1rem;
  margin-top: 1.6vh;
  margin-bottom: 2.5vh;
  text-align: center;
  border: 2px solid #f5f1ff;
    margin-right: auto;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  margin-left: 0.5rem !important; 
  z-index: 1;
}
@media screen and (min-width: 2200px) and (max-width: 2300px) {
  .Sidebar-Comp-card {
    padding: 3.4rem;
    margin-top: 1.2vh;
  }
}
@media screen and (min-width: 2100px) and (max-width: 2200px) {
  .Sidebar-Comp-card {
    padding: 3rem;
    margin-top: 1.2vh;
  }
}
@media screen and (min-width: 2000px) and (max-width: 2100px) {
  .Sidebar-Comp-card {
    padding: 3.2rem;
    margin-top: 1.3vh;
  }
}

@media screen and (min-width: 1900px) and (max-width: 2000px) {
  .Sidebar-Comp-card {
    padding: 2.8rem;
    margin-top: 1.2vh;
  }
}
@media screen and (min-width: 1800px) and (max-width: 1900px) {
  .Sidebar-Comp-card {
    padding: 2.6rem;
    
  }
}
@media screen and (min-width: 1700px) and (max-width: 1800px) {
  .Sidebar-Comp-card {
    padding: 2.3rem;
    
  }
}
@media screen and (min-width: 1600px) and (max-width: 1700px) {
  .Sidebar-Comp-card {
    padding: 2rem;
    /* margin-top: 1rem */
    width: 30vh;  
    
  }
}
@media screen and (min-width: 1500px) and (max-width: 1600px) {
  .Sidebar-Comp-card {
    padding: 1.9rem;
    
  }
}
@media screen and (min-width: 1400px) and (max-width: 1500px) {
  .Sidebar-Comp-card {
    padding: 1.6rem;
    width: 30vh;
  
  }
}
@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .Sidebar-Comp-card {
    padding: 1.4rem;
    margin-top: 2.3vh;
    width: 28.8vh;
  }
  /* .sidebar-content-wrapper{
    width: 10rem;
  } */
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .Sidebar-Comp-card {
    padding: 1.2rem;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .Sidebar-Comp-card {
    padding: 0.9rem;
    margin-top: 2.6vh;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .Sidebar-Comp-card {
    padding: 0.7rem;
    margin-top: 2.6vh;
  }
}



/* .active-link .svg-white,
.active-link .Svg-Container .active-link .main-sidebar2 {
  background-color: #388c8c !important;
  color: white; 
  box-shadow: 0px 0px 1px gray;
  padding: 0.5rem 6px 0.15rem 5px !important;
  text-decoration: none;
}
.active-link .Svg-Container .svg-white {
  color: white !important; 
} */

.main-sidebar2.active-link .svg-white,
.main-sidebar2.active-link .Svg-Container .main-sidebar2.active-link {
  background-color: #388c8c !important;
  color: white; 
  box-shadow: 0px 0px 1px gray;
  padding: 0.5rem 6px 0.15rem 5px !important;
  text-decoration: none;
}

.main-sidebar2.active-link .Svg-Container .svg-white {
  color: white !important; 
}


.Svg-Container {
  display: flex;
  align-items: center;
  color: #388C8C;
  padding: 0px 2px -0px 2px !important;
  border-radius: 15px;
  /* background-color: gray; */
}


/* .Svg-Container:hover {
  background-color: white;
  border-radius: 20px;
  
}  */
.svg-white path {
  fill: #388c8c;
}
.active-link .svg-white path {
  fill: white;
}

.main-sidebar2 {
  /* padding:  4px; */
  padding: 0.4rem 0rem 0.1rem 0.001rem !important;
  /* height: 50px; */
  /* background-color: #3AB09F; */
  border-radius: 8px;
  width: 25vh;
  text-decoration: none;
}

/* .main-sidebar2 .active{
 
} */
/* @media screen and (max-width : 1400px) {
  .main-sidebar2{
  padding: 7px 5px 3px 4px;
} */
@media screen and (max-width: 500px) {
  .broad-cast-icon {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
  }
}
.row>* {
  padding-right: calc(var(--bs-gutter-x) * .2) !important;
  padding-left: calc(var(--bs-gutter-x) * .1) !important;
}