.Sidebar-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; or any desired height for your container */
  position: absolute;
  /* z-index: 10; */
  /* top: 0;
  bottom: 0; */
  /* left: 2.7vh; */
}
.main-sidebar-logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Sidebar-Comp-card {
  /* width: 96%; */
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 95vh;
  border-radius: 20px;
  background-color: white;
  padding: 0.8rem;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  text-align: center;
  border: 2px solid #f5f1ff;
    margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 0.5rem;
  z-index: 1;
}
.active-link .svg-white,
.active-link .Svg-Container .active-link .main-sidebar2 {
  background-color: white !important;
  box-shadow: 0px 0px 1px #388c8c;
  padding: 0.5rem 1px 2px 2px !important;
  text-decoration: none;
}
.Svg-Container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 0px 2px -0px 2px !important;
  border-radius: 20px;
  /* background-color: gray; */
}

.Svg-Container h6:hover {
  /* background-color:#388c8c; */
  color: black !important;
  border-radius: 10px;
  padding: 0px 5px 0px 5px !important;
}
/* .Svg-Container:hover {
  background-color: white;
  border-radius: 20px;
  
}  */
.svg-white path {
  fill: #388c8c;
}

.main-sidebar2 {
  /* padding:  4px; */
  padding: 0.4rem 0rem 0.1rem 0.001rem !important;
  /* height: 50px; */
  /* background-color: #3AB09F; */
  border-radius: 8px;
  width: 25vh;
  text-decoration: none;
}

/* .main-sidebar2 .active{
 
} */
/* @media screen and (max-width : 1400px) {
  .main-sidebar2{
  padding: 7px 5px 3px 4px;
} */
@media screen and (max-width: 500px) {
  .broad-cast-icon {
    padding-top: 7px !important;
    padding-bottom: 3px !important;
  }
}
