.Sidebar-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; or any desired height for your container */
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 2.7vh;
}

.Sidebar-Comp-card {
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 55vh;
  border-radius: 30px;
  backdrop-filter: blur(1px);
  background-color: rgb(0 0 0 / 10%);
  padding: 10px;
  text-align: center;
  border: 2px solid #f5f1ff;
  /*margin: 0 0 0 auto; This centers the card horizontally */
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Svg-Container {
  padding: 0px 2px -0px 2px !important;
  border-radius: 20px;
}
.Svg-Container:hover {
  background-color: #3aa9ab;
  border-radius: 20px;
  padding: 0px 2px 0px 2px !important;
}
.svg-white path {
  fill: white;
}

.main-sidebar2{
  /* padding:  4px; */
  padding: 0.4rem 0.3125rem 0.1rem 0.1rem !important;
  /* height: 50px; */
  border-radius: 13px;
  width: 5vh;
}
.main-sidebar2:hover {
  background-color: #3aa9ab;
}

/* @media screen and (max-width : 1400px) {
  .main-sidebar2{
  padding: 7px 5px 3px 4px;
} */
@media screen and (max-width : 500px) {
  
  .broad-cast-icon{
    padding-top: 7px !important;
    padding-bottom: 3px !important;
  }
  
}