.main-newpass{
    background-color: #3AABA8;
    width: 100%;
    height: 100vh;
}

.form-newpass{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.iner-foam-newpass-div{
    width: 55vh;
    height: 65vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid white;
    border-radius: 40px;
    background-color: #FFFFFF;
}
.login-main-text-newpass{
    width: 90%;
    margin-left: 4%;
    text-align: center;
    margin-top: 10%;
    font-size: 35px;
    color: #3AABA8;
}
.forgaot-newpass{

    width: 90%;
    height: 11%;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid #3AABA8;
    margin-left: 5%;
    margin-top: 10%;
    /* text-shadow: #3AABA8; */
    /* background-color:blue; */
}
input::placeholder {
    color: #3AABA8;
    font-size: large;
     /* Change to the desired color */
  }
.login-button-newpass{
    text-decoration: none;
    /* text-underline-position: none; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-left: 5%;
    margin-top: 10%;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    background-color: #3AABA8;
    text-decoration: dotted;
    color: white;
    cursor: pointer;
}
.login-button-newpass:hover{
    border: 2px solid white;
}